<template>
    <div class="viajeContainer">
        <div class="frase">
        Nuestro destino de viaje nunca es un lugar,
        sino una nueva forma de ver las cosas. <br>
        <i>-- Henry Miller</i>
        </div>
        <div class="info">
            <img v-bind:src="imgPath" alt="" class="logoCompany">
            <section>
                Origen
                <h4>{{origin}}</h4>
                <span>{{originTerminal}}</span>
            </section>
            <section>
                Destino
                <h4 class="finalDestiny">{{destination}}</h4>
                <span>{{destinationTerminal}}</span>
            </section>
            <section class="date">
                {{date}} - {{time}} Hrs
                <div>{{eta}}</div>
            </section>
        </div>
    </div>
</template>
<script>
export default {
    name: "destination",
    props: {
        imgPath: String,
        origin: String,
        originTerminal: String,
        destination: String,
        destinationTerminal: String,
        date: String,
        time: String,
        eta: String
    }
}
</script>
<style lang="scss" scoped>
.viajeContainer{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    color: white;
    width: 100%;
}

.frase {
    text-align: right;
    max-width: 280px;
    align-self: flex-end;
}

.info {
    font-size: 15px;
    .logoCompany{
        max-width: 180px;
    }
    h4 {
        font-size: 30px;
        line-height: 35px;
        font-weight: bolder;
        margin: 0;
    }
    span{
        font-size: 11px;
    }
    .finalDestiny{        
        font-size: 50px;
        line-height: 55px;
        font-weight: bolder;
        margin: 0;        
    }
    section {
        margin: .5rem 0;
    }
    .date {
        margin-top: 1rem;
        font-size: 19px;
        font-weight: bold;
        div{
            font-weight: normal;
            font-size: 11px;
        }
    }
}
</style>
