<template>
<section>
    <div class="total">
        Total
        <span>${{Number(total) + Number(adicionales) | currency}}</span>
    </div>
    <div class="pagoAMeses" v-if="meses">
        <h4 @click="quieroMeses = !quieroMeses">Paga tu boleto a meses <i class="fas fa-chevron-down" :class="{quieroMeses : quieroMeses}"></i></h4>
        <div v-if="quieroMeses">
            <div class="meses" @click="mesesSelected = 3" v-bind:class="{active : mesesSelected === 3}">
             <div class="check " v-bind:class="{activeCheck : mesesSelected === 3}"></div> 3 pagos de    <span>${{(Number(total)+ Number(adicionales)) / 3 | currency}}</span>
            </div>
            <div class="meses" @click="mesesSelected = 6" v-bind:class="{active : mesesSelected === 6}">
             <div class="check " v-bind:class="{activeCheck : mesesSelected === 6}"></div> 6 pagos de    <span>${{(Number(total)+ Number(adicionales)) / 6 | currency}}</span>
            </div>
            <div class="meses" @click="mesesSelected = 9" v-bind:class="{active : mesesSelected === 9}">
             <div class="check " v-bind:class="{activeCheck : mesesSelected === 9}"></div> 9 pagos de    <span>${{(Number(total)+ Number(adicionales)) / 9 | currency}}</span>
            </div>
            <div class="meses" @click="mesesSelected = 12" v-bind:class="{active : mesesSelected === 12}">
             <div class="check"  v-bind:class="{activeCheck : mesesSelected === 12}"></div> 12 pagos de    <span>${{(Number(total)+ Number(adicionales)) / 12 | currency}}</span>
            </div>
        </div>
    </div>
    <div class="ticketToRide">
        <div>1 Adulto <span>${{total * .84 | currency}}</span></div>
        <div>Impuestos y Servicio de Línea <span>${{total * .16 | currency}}</span></div>
        <div class="bold">Tu Viaje <span>${{total | currency}}</span></div>
    </div>
    <div class="ticketToRide">
        <div>Cargo por servicio <span>${{adicionales | currency}}</span></div>
        <div class="bold">Adicionales <span>${{adicionales | currency}}</span></div>
    </div>
    <div class="coupon">
            ¿Tienes algun codigo de descuento?
            <div class="inputWthBtn">
                <input type="text" placeholder="Escribelo aqui">
                <div>Aplicar</div>
            </div>
    </div>
    <div class="ayuda">
        <h4>¿TE PODEMOS AYUDAR?</h4>
        Atención a clientes
        <a href="">01 (812) 013666</a>
    </div>
</section>
</template>
<style lang="scss" scoped>
$blue: #042672;
$grey: #707070;
$selectColor: #f6f7f9;
.total{
    padding: 2rem 1.5rem;
    color: $blue;
    font-weight: bold;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
}
.pagoAMeses{
    h4{
        padding: 1.7rem 1.5rem ;
        margin:0;
        color: $grey;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .2s ease;
        }

            .quieroMeses {
                transform: rotate(-180deg)
            }
    }
    .meses{
        background-color: #f6f7f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem; 
        color: $grey;
        font-weight: 600;
        font-size: 14px;
        span{
            flex-grow: 2;
            text-align: right;
        }

        &.active{
            background-color: white;
        }
        &:nth-last-child(1){
            border-bottom:1px solid  rgba($color: $grey, $alpha: .08);
        }
        &:nth-child(1){
            border-top:1px solid  rgba($color: $grey, $alpha: .08);
        }

    }
    
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      width: 16px;
      min-height: 16px;
      min-width: 16px;
      background-color: #e1e8ee;
      border: 1px solid $grey;
      border-radius: 50%;
      margin-right: 1rem;
      transition: all 0.2s ease;
      &::after {
        content: "";
        display: block;
        height: 0px;
        width: 0px;
        border: 0px solid $grey;
        background-color: white;
        border-radius: 50%;
        transition: all 0.2s ease;
      }
    }
    .activeCheck {
      background-color: #00b963;
      &::after {
        content: "";
        display: block;
        height: 8px;
        width: 8px;
        border: 1px solid $grey;
        background-color: white;
        border-radius: 50%;
        transition: all 0.2s ease;
      }
    }
}

.ticketToRide{
    padding: .85rem 1rem;
    color: $grey;
    display: flex;
    flex-direction: column;
    border-bottom:1px solid  rgba($color: $grey, $alpha: .08);
    font-size: 15px;
    div{
        display: flex;
        justify-content: space-between;
        margin: .25rem 0;
    }
    .bold{
        font-weight: bold;
    }
}

.coupon {
    padding: 1rem;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    color: $grey;
     border-bottom:1px solid  rgba($color: $grey, $alpha: .08);
     .inputWthBtn{
         display: flex;
         input{
            padding: .85rem;
            border-radius: 5px 0 0 5px;
            border: 1px solid rgba($color: $grey, $alpha: .5);
        }
        div{
            padding: .85rem;
            border-radius: 0 5px 5px 0;
            border: 1px solid rgba($color: $grey, $alpha: .5);
            border-left: 0;
            background-color: #F6F7F9;
        }
     }
}

.ayuda {
    padding: 1rem;
        color: $grey;
        font-size: 12px;
        display: flex;
        flex-direction: column;
    h4{
        margin: 0;
        font-size: 14px;
        color: $grey;
    }

    a {
        color: #00ABCB;
        text-decoration: none;
    }
}
</style>
<script>
export default {
    name: 'detail',
    props: {
        total: Number,
        adicionales: Number,
        meses: Boolean,
    },
    data(){
        return{
            mesesSelected: 0,
            total: 1800.86,
            quieroMeses: true
        }
    },
    filters: {
    currency(amount) {
      const amt = Number(amount)
      return amt && amt.toLocaleString(undefined, {maximumFractionDigits:2}) || '0'
    }
  }
}
</script>

