<template>
  <div class="checkout">
    <div class="settings" :class="{activeSettings : settingsActive}">
      <div class="toggle" @click="settingsActive = !settingsActive" >
        <i class="fa fa-cog"></i>
      </div>
      <label for="">
        Precio del boleto
        <input type="number" v-model:value="viaje.price">
      </label>
      <label for="">
        Comisión
        <input type="number" v-model:value="viaje.reservamosCut">
      </label>
      <label for="">
        Origen
        <input type="text" v-model:value="viaje.origin">
      </label>
      <label for="">
        Terminal de origen
        <input type="text" v-model:value="viaje.originTerminal">
      </label>
      <label for="">
        Destino
        <input type="text" v-model:value="viaje.destination">
      </label>
      <label for="">
        Terminal destino
        <input type="text" v-model:value="viaje.destinationTerminal">
      </label>
      <label for="">
        Fecha
        <input type="text" v-model:value="viaje.date">
      </label>
      <label for="">
        Horario
        <input type="text" v-model:value="viaje.time">
      </label>
      <label for="">
        ETA
        <input type="text" v-model:value="viaje.eta">
      </label>
    </div>
    <div class="container">
      <div class="card checkoutArea">
        <div class="viajeDetail"> 
          <destination  v-bind:imgPath="viaje.imgCompany" 
                        v-bind:origin="viaje.origin"
                        v-bind:originTerminal="viaje.originTerminal"
                        v-bind:destination="viaje.destination"
                        v-bind:destinationTerminal="viaje.destinationTerminal"
                        v-bind:eta="viaje.eta"
                        v-bind:date="viaje.date"
                        v-bind:time="viaje.time"/>
        </div>
        <div class="checkoutContent" >
          
         <div class="loading" v-if="loading" @click="loading = !loading"><img src="/static/img/loading.gif" alt=""></div>

         <div class="checkoutContainer" v-bind:class="{blur : loading}">

         
          <section class="steps">
            <div class="btn opacity">
              <img src="\static\img\download (2).svg" alt="">
              <h2>Pasajeros</h2>            
            </div>
            <div class="btn">
              <img src="\static\img\download (1).svg" alt="">            
              <h2>Pago</h2>  
            </div>
            <div class="step">
              2 de 2 pasos
            </div>
          </section>
          <section class="formasDePago">
            <h3>Elíge tu forma de pago</h3>
            <div class="formaDePago" v-for="payment in paymentMethods" v-bind:class="{paymentSelected : paySelect === payment.name}" @click="paySelection(payment.name)">
              <div class="checkbox" v-bind:class="{activeCheckbox : paySelect === payment.name}"></div>
              <div class="info">
                <h4>{{payment.name}}</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                  salami pizza burritos, nachos pepperoni
                </p>
              </div>
              <div class="imgs">
                <img v-for="img in payment.imgs" v-bind:src="img" alt="">
              </div>
            </div>
          </section>
          <section class="cardForm">
            <div class="row">
              <label for="" id="cardNumber" class="w50p">
                Número de la tarjeta
                <input type="text">
              </label>
              <label for="" id="cardHolder" class="w50p">
                Nombre del propietario de la tarjeta
                <input type="text">
              </label>
            </div >
            <div class="row">
              <label for="" id="month" class="w25p">
                Mes
                <input type="text">
              </label>
              <label for="" id="year" class="w25p">
                Año
                <input type="number">
              </label>
              <label for="" id="cvv" class="w25p">
                CVV
                <input type="number">
              </label>
              <div id="cvvImg" class="w25p">
                <img src="/static/img/download (3).png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="w50p padding1rem">
                <img src="/static/img/Group 90.png" alt="">
              </div>
              <div class="w50p padding1rem">
                <div class="btn" @click="loading = !loading">
                  Finalizar compra por ${{Number(viaje.price) + Number(viaje.reservamosCut) | currency}} 
                  
                </div>
              </div>
            </div>

          </section>

         </div>
        </div>
      </div>
      <div class="card priceDetail">
        <detail v-bind:total="viaje.price" v-bind:adicionales="viaje.reservamosCut" v-bind:meses="meses"/>
      </div>
    </div>
  </div>
</template>

<script>
import destination from '@/components/destination.vue'
import detail from '@/components/detail.vue'
export default {
  name: "HelloWorld",
  components: {
    destination, detail
  },
  data() {
    return {
      viaje: {
        price: 1000,
        reservamosCut: 385.85,
        origin: "Monterrey",
        originTerminal: "Terminal Norte",
        destination: "Tequila",
        destinationTerminal: "Terminal 2 Sur",
        imgCompany: "/static/img/transpais.png",
        eta: "4 horas 20  minutos",
        time: "16:20",
        date: "Lunes 4 de Abril"

      },
      paymentMethods: [
        {
          name: "Paypal",       
          imgs: ["/static/img/download.png"]
        },
        {
          name: "Tarjeta",          
          imgs: ["/static/img/download (2).png", "/static/img/download (5).svg"]
        },
        {
          name: "Oxxo",          
          imgs: ["/static/img/Oxxo_Logo.svg"]
        }
      ],
      paySelect : 'Tarjeta',
      meses: true,
      loading: false,
      number: 0,
      tweenedNumber: 0,
      settingsActive: false
    };
  }, methods: {
    paySelection(data){
      this.paySelect = data;
      this.meses = (this.paySelect === 'Tarjeta') ? true : false;
    }
   
  },
  computed: {
    animatedNumber: function() {
      return this.tweenedNumber.toFixed(2);
    }
  },
  watch: {
    number: function(newValue) {
      TweenLite.to(this.$data, 0.5, { number: newValue });
    }
  }, filters: {
    currency(amount) {
      const amt = Number(amount)
      return amt && amt.toLocaleString(undefined, {maximumFractionDigits:2}) || '0';
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$blue: #042672;
$grey: #707070;
$selectColor: #f6f7f9;

.checkout {
  display: flex;
  justify-content: center;
  padding: 2rem 0.5rem 0;
}
.container {
  display: flex;
  align-items: flex-start
}
.checkoutArea {
  display: flex;
  flex-basis: 75%;
  margin-right: 0.5rem;
}
.checkoutContent {
  position: relative;
  width: 60%;
  .checkoutContainer{
  transition: filter .4s linear;

  }
}
.viajeDetail {
  width: 40%;
  background-size: cover;
  background-position: center left;
  background-image: url(/static/img/TequilaMexico.jpg);
  padding: 2rem;
  position: relative;
}
.priceDetail {
  flex-basis: 25%;
  margin-left: 0.5rem;
}

.steps {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.14);
  .btn {
    padding: 0.7rem 2rem;
    display: flex;
    cursor: pointer;
    h2 {
      font-size: 20px;
      font-weight: bold;
      color: $blue;
      margin: 0;
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100px;
        background-color: $blue;
        margin-top: 2px;
      }
    }
    img {
      margin-right: 0.5rem;
      height: 33.88px;
    }
  }
  .step {
    color: $grey;
    font-size: 14px;
  }
  .opacity {
    filter: opacity(50%)
  }
}

.formasDePago {
  h3 {
    color: $grey;
    font-size: 18px;
    padding: 0.5rem 2rem;
    font-weight: bold;
  }
  .formaDePago {
    display: flex;
    padding: 1rem 2.5rem 1rem 1.5rem;
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, 0.07);
    background-color: $selectColor;
    transition: background-color 0.2s ease;
    
    cursor: pointer;
    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      min-height: 24px;
      min-width: 24px;
      background-color: #e1e8ee;
      border: 1px solid $grey;
      border-radius: 50%;
      margin-right: 1.5rem;
      transition: all 0.2s ease;
      &::after {
        content: "";
        display: block;
        height: 0px;
        width: 0px;
        border: 0px solid $grey;
        background-color: white;
        border-radius: 50%;
        transition: all 0.2s ease;
      }
    }
    .activeCheckbox {
      background-color: #00b963;
      &::after {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        border: 1px solid $grey;
        background-color: white;
        border-radius: 50%;
        transition: all 0.2s ease;
      }
    }

    .info {
      flex-grow: 2;
      h4 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: $grey;
      }
      p {
        font-size: 14px;
        color: $grey;
        margin: 0.5rem 0 0;
      }
    }
    .imgs {
      display: flex;
      align-items: center;
      img {
        height: 19px;
        margin-left: 0.5rem;
      }
    }
  }
  .paymentSelected {
    background-color: white;
  }
}

.cardForm {
  padding: 2rem 1rem .5rem;
  display: flex;
  flex-direction: column;

  .row  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  label {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    color: $grey;
    font-size: 14px;
    input {
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid rgba(112, 112, 112, 0.5);
    }
  }

  .w50p{
    width: 50%;
  }

  .w25p {
    width: 25%;
  }

  .padding1rem{
    padding: 1rem 1rem 0;
  }
  #cvvImg {
    img {
      height: 38px;
    }
  }

  .btn{
    padding: .5rem 1rem;
    background: #CE348B;
    border: 1px solid #A72870;
    color: white; 
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
}

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    max-height: 140px;
  }
}

.blur {
  filter: blur(2px)
}

.settings{
  position: absolute;
  left: -235px;
  top:5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  z-index: 100;
  width: 235px;
  label{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    input{
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid rgba($color: $grey, $alpha: .5)
    }
    
  }
  .toggle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -30px;
    height: 30px;
    width: 30px;
    background: white; 
  }
}

.activeSettings {
  left: 0px;
}
</style>
