<template>
     <div class="settingsComponent">
      hola
    </div>
</template>
<script>
export default {
    name:'settings'
}
</script>

<style lang="scss" scoped>
.settingsComponent {
    display: flex;
  flex-direction: column;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    input{
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid rgba($color: #707070, $alpha: .5)
    }
    
  }
</style>

