<template>
  <div id="app">
    <div class="menu">
      <div class="container">
        <div class="logo">
          <img src="/static/img/logo.svg" alt="" >
          <i>El Sitio #1 para encontrar tu boleto de autobus al major precio</i>
          
        </div>
        <div class="apps">
          Reservamos enta en tu dispositivo movil
          <i class="fab fa-apple"></i>
          <i class="fab fa-android"></i>
        </div>
      </div>
    </div>
    <router-view/>
    <div class="footer">
      <div class="container">
        <div>Contáctanos</div>
        <div>Recuerda nuestras diferentes formas de pago <i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #F2F2F2;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.container {
    width: 1400px;
    max-width: 1400px;
}

.card {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.menu{
  padding: .5rem;
  background: #002674;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    img{
      height: 30px;
    }
  }

  i{
    margin-left: .5rem;
  }

  .apps {
     display: flex;
    align-items: center;
    i{
      font-size: 1.5rem;
    }
  }
}

.footer {
  height: 35px;
  width: 100%;
  background: #000D26;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    .container {
      color: white;
      font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
      font-size: 15px;
      margin-left: .5rem;
    }
  }
}


</style>
